<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magellanic.Interfaces.WebSecurity" version="0.4.5476.28613" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
</packages>